.remove-submit-btn-style {
  background: none;
  border: none;
  color: #43c0ac;
  font-size: 13px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.td-center {
  text-align: center;
}
 #order_item_qty {
    color:#43c0ac;
    border: none;
    font-size: 13px;
    background: white;
    font-weight: light;
  }

.table > tbody > tr > td {
     vertical-align: middle;
}
.checkout-area {
  text-align: right;
}

.btn-checkout {
  margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .order-table-details {
    display:none;
    }
  .table-responsive {
    border: none;
  }
}

@media (max-width: 440px) {
  .table-responsive {
      font-size:10px !important;
      border: none;
  }
}
