.product-alert {
  
  .alert-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (min-width: 900px) {
      padding-right: 35px; 
      margin-bottom: 50px;
      // margin-right: 10px;
    }
      
  }
  // repurchase card
  .card-repurchase {
    border: 1px solid #eee;
    margin-top: 15px;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    position: relative !important;    
    display:inline-block;
    width: 100%;
  }

  .card-repurchase-action {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .card-repurchase-img {
    min-height: 220px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card-body {
    width: 100%;
    height: 220px;
    padding-left: 20px;
    position: relative;
  }

  .card-body-title {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    position: absolute;
    top: 5px;
  }

  .coupon-applied {
    // padding-right: 40%;
    opacity: 0.4;
    margin-bottom: 5px;
    .coupon-status {
      border: 1px #7D7D7D solid;    
      border-radius: 3px;  
      text-align: center;
      color: #7D7D7D;    
      margin: 0; 
      position: relative;
      top: 50px;
      width: 150px
    }
  }

  %flex-display {
    display: flex;
  }

  .rating {
    position: absolute;
    top: 85px;
    @extend %flex-display;
    margin-bottom: 5px;
    .num-reviews {
      margin: 0px 0px 0px 5px;
    }
    .star-rating {
        @extend %flex-display;
        align-items: center;
        font-size: 1em;
        
    }
    .back-stars {
        @extend %flex-display;
        color: rgba(125, 125, 125, 0.541);
        
        position: relative;
        // text-shadow: 4px 4px 10px #843a3a;
    }
    .front-stars {
        @extend %flex-display;
        color: $turquoise;
        overflow: hidden;
        position: absolute;
        // text-shadow: 2px 2px 5px #d29b09;
        top: 0;
    }
  }

  .price {
    display: inline-flex;
    position: absolute;
    bottom: 60px;

    .old-price {
      margin-right: 10px;
      text-decoration: line-through;
    }

    .sale-price {
      font-weight: bold;
      color: red;
      font-size: 16px;
    }
  }

  .shipping-details {
    position: absolute;
    bottom: 5px;
    .status {
      margin: 0;
    }
    .delivery-date {
      margin: 0;
    }
  }
  

}