.product-container {
	margin-top: 20px;
}
.product-actions {
	margin-top: 20px;
}
.product-image {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.action-add {
	margin-bottom: 10px;
}
.action-favorite {
	a {
		color: #333333;
	}
}