.product-container {
	margin-top: 20px;
}
.product-actions {
	margin-top: 20px;
}
.product-image-container {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.action-add {
	margin-bottom: 10px;
}
.action-favorite {
	a {
		color: #333333;
	}
}
.product-selector {
	select {
		width: 100%;
		height: 40px;
		background-color: white;
		border: 1px solid #aaa;
		border-radius: 0;
		font-weight: 400;
	}
	padding: 10px 0;
}

.heart-save {
	outline: none;
	border: 0;
	color: #97B1AB;
	&:hover {
		color: $turquoise;
		font-size: 18px;
	}
}


// Larger screens
@media screen and (min-width: 992px) {
  .product-selector {
    width: 300px;
  }
  .product-image {
  	height: 400px;
  }
}
// Mobile
@media screen and (max-width: 992px) {
  .product-selector {
    width: 100%;
  }
  .product-image {
  	height: 200px;
  }
}

