<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="card-stretch">
		<%= link_to product_path(product) do %>
		 	<div class="card-stretch-img" style="background-image: url('https://static1.squarespace.com/static/59384ae5cd0f684d39a6f485/t/5a7e329a0d9297f654feaef3/1518219930914/ComingSoon-613x388.png">
	  		</div>
		<% end %>
	  	<div class="card-stretch-content">
	    	<div class="content-stretch-header">
	    		<h5><%= product.brand %></h5>
	      		<p><%= product.name %></p>
	    	</div>
		    <div class="content-stretch-footer">
		    	<p><strong>from $TODO</strong></p>
			    <% if current_user %>
			      <%= link_to "Add to Cart", product_order_items_path(product), method: :post, class: "btn btn-primary btn-sm" %>
			    <% end %>
		    </div>
		</div>
	</div>
</div>
