<% if params[:query].present? %>
  <% seller_array = [] %>
  <% @products.each do |product| %>
      <% product.sellers.each do |seller| %>
        <% seller_array << seller.domain%>
      <% end %>
    <% end %>
  <p>Showing <%= @start_count %>-<%= @end_count %> of 
    <%= @result_count %> products from 
    <%= seller_array.uniq.count %> sellers
  </p>
<% end %>
