<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= form_tag products_path, { method: :get, id: "search-form" } do %>
      <%= text_field_tag :query,
      params[:query],
      class: "search-bar",
      placeholder: "e.g. Organic face serum"
      %>
      <%= submit_tag 'Search', class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>