<div class="wrapper">
  <div class="container">
    <div class="complete-container text-center">
      <h3>Thank you for your order! 🎉 🦄</h3>
      <br>
      <h4>Order # <%= @order.id %> is being processed by <strong>Paal</strong></h4>
      <br>
      <p>We will email you a shipping notification when it's heading your way.</p>
    </div>
  </div>
</div>
