.card-polaroid {
  height: 320px;
  margin: 10px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2)
}
.card-polaroid-img {
  min-height: 240px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px rgba(0,0,0,0.2)
}
.card-polaroid-content {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-polaroid-header {
  width: 200px;
  overflow: hidden;
  h5 {
    margin-bottom: 0px;
  }
}

// repurchase card
.card-repurchase {
  border: 1px solid #eee;
  margin-top: 15px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  display: relative;
}
.card-repurchase-img {
  min-height: 220px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-repurchase-action {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

// stretch card
.card-stretch {
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  h5, p {
    color: $black;
  }
}
.card-stretch-img {
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
}
.card-stretch-content {
  padding-left: 10px;
  position: relative;
  width: 100%;
  p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.content-stretch-header {
  position: absolute;
  top: 5px;
  overflow: hidden;
  h5 {
    margin-bottom: 0px;
  }
}
.content-stretch-footer {
  position: absolute;
  bottom: 5px;
  %flex-display {
    display: flex;
  }
  .rating {
    top: 85px;
    @extend %flex-display;
    margin-bottom: 5px;
    .num-reviews {
      margin: 0px 0px 0px 5px;
    }
    .star-rating {
        @extend %flex-display;
        align-items: center;
        font-size: 1em;
    }
    .back-stars {
        @extend %flex-display;
        color: rgba(125, 125, 125, 0.541);
        position: relative;
    }
    .front-stars {
        @extend %flex-display;
        color: $turquoise;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
  }
}
.product-unavailable {
  border: 1px #B9B9B9 solid;
  border-radius: 3px; 
  padding: 5px 5px 0px 5px;
  p {
    color: #B9B9B9;
  }
}

// inventory card
.card-inventory {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px 5px;
  box-shadow: 0 1px 2px -2px gray;
}
.card-inventory-shipping {
  p {
    font-size: 13px;
  }
}
.card-inventory-save {
  background-color: red;
}