.card-polaroid {
  height: 320px;
  margin: 10px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2)
}
.card-polaroid-img {
  min-height: 240px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px rgba(0,0,0,0.2)
}
.card-polaroid-content {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-polaroid-header {
  width: 200px;
  overflow: hidden;
  h5 {
    margin-bottom: 0px;
  }
}

// repurchase card
.card-repurchase {
  border: 1px solid #eee;
  margin-top: 15px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  display: relative;
}
.card-repurchase-img {
  min-height: 220px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-repurchase-action {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

// stretch card
.card-stretch {
  margin: 5px 0px;
  // box-shadow: 0 0 1px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
}

.card-stretch-img {
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 1px rgba(0,0,0,0.2)
}
.card-stretch-content {
  padding-left: 10px;
  position: relative;
  width: 100%;
  p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.content-stretch-header {
  position: absolute;
  top: 5px;
  overflow: hidden;
  h5 {
    margin-bottom: 0px;
  }
}
.content-stretch-footer {
  position: absolute;
  bottom: 5px;
}
