.search-container {
	margin-top: 25px;
}
.search-bar {
	padding: 10px;
  	padding-bottom: 8px;
	border-radius: 3px;
	width: calc(100% - 50px);
	color: black;
}
#search-form {
	button {
		padding: 10px 12px;
		margin-bottom: 5px;
	}
}
