<div class="wrapper">
  <div class="container">
    <h1>Search</h1>
    <%= render 'shared/search' %>
    <div class="products-container">
      <h1>Results</h1>
        <div class="cards-container row">
          <% @products.each do |product| %>
            <%= render "shared/card-stretch", product: product %>
          <% end %>
        </div>
    </div>
  </div>
</div>